* {box-sizing: border-box;}

p {font-size: 15px;}

body {font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
      max-width: 1080px;
      margin: 0 auto 0 auto;}

header {display: flex;
        justify-content: space-between;}



#nav-pc {font-size: 14px;}

#nav-pc ul {display: flex;
            padding-left: 0;}

#nav-pc li {list-style: none;}        

#nav-pc a {text-decoration: none;
   color: black;
   margin-left: 20px;}

#nav-pc a:hover {text-decoration: underline;}



#main-visual {position: relative;
              height: 400px;}

#main-message {position: absolute;
               top: 0;
               left: 0;
               background-color: #2710d5;
               color: #ffffff;
               border-radius: 0 0 476px 0;
               z-index: 11;
               max-width: 620px;
               width: 100%;
               height: 100%;}

#main-message > h1 {font-size: 60px;
                  margin: 100px 0 0 50px;}

#main-message > p {font-size: 28px;
                 margin: 0 0 0 50px;}

#main-visual > img {position: absolute;
                   top: 0;
                   max-width: 620px;
                   border-radius: 476px 0 0 0;
                   position: absolute;
                   z-index: 10;
                   right: 0;}



.index-h2 {margin-top: 40px;}

.index-h2::after {content: url("images/line.png");
                  margin-left: 10px;}



#mission-flex > h3 {font-size: 27px;}

#mission {margin: 80px auto;}

#mission-flex {display: flex;}

#mission-flex > div {width: 50%; margin: 20px;}

#mission-photo {width: 100%}



#s2dgs {width: 100%; margin-top: 50px;}



#product .product-flex {display: flex; margin-top: 20px;}

#product-left {width: 50%; margin-right: 20px;}

#product-right {width: 50%; margin-left: 20px; margin-top: 80px;}

#product {background-color: #fafafa;
          margin: 80px 0;
          padding: 10px 40px 0px 40px;}

#product-left > div {position: relative;
                     margin-right: 20px;
                     height: 480px;}

#product-right > div {position: relative;
                      margin-left: 20px;
                      height: 480px;}

.product-photo {width: 100%;}

.product-explain {position: absolute;
                  bottom: 50px;
                  left: 0;
                  background-color: #ffffff;
                  margin: 0 40px 0 40px;
                  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
                  padding: 20px;}

.product-explain > span {font-size: 16px;
                         color: #2710d5;
                         font-weight: bold;
                         margin: 0;}

.product-explain > h3 {margin: 5px 0;}

.product-explain > p {font-size: 14px;
                      margin: 0;}

#product-more {text-align: center;}

#product-more a {position: relative;
                 bottom: -42px;}



#aboutus {margin: 80px 0;}
#aboutus > div {display: flex;}
.culture-img {width: 50%; align-self: flex-start;}
.culture-img2 {margin-top: 50px; width: 100%;}
.culture-table {margin-right: 50px;}
.culture-num {font-size: 80px; color: #2710d5; padding: 0 20px 0 0;}
.culture-table > th {text-align: left; font-weight: bold; font-size: 28px;}
.culture-en {font-size: 24px; color: #2710d5;}
.culture-description {margin: 0;}

#vision {margin: 80px auto;}
#vision > div {display: flex; flex-wrap: wrap; justify-content: space-between;}
.vision-box {width: 300px; height: 300px;
             margin-bottom: 30px; position: relative;}
.vision-box > img {width: 100%; position: relative; z-index: 30;}
.vision-box > div {position: absolute; top: 0; left: 0;
                   margin-right: 20px; z-index: 31;}
.vision-box > div > h4 {color: #2710d5; font-size: 19px; margin-top: 80px;}
.vision-box > div > h4::first-letter {font-size: 40px;}
.vision-box > div > h5 {font-size: 20px; margin: 0;}
.vision-box > div > p {margin: 10px 0 0 0;}



#company {margin: 80px 0;}

#company-table {width: 100%; border-collapse: collapse;}

.tableheader {text-align: left; padding: 20px; width: 100px;
              border-bottom-color: #2710d5; border-bottom-style: solid; border-bottom-width: 1px;}
.tableheader-first {border-bottom-color: #2710d5; border-bottom-style: solid; border-bottom-width: 1px;}

.cell {padding: 30px; border-bottom-color: #ececec; border-bottom-style: solid; border-bottom-width: 1px;}
.cell-first {border-bottom-color: #ececec; border-bottom-style: solid; border-bottom-width: 1px;}
iframe {width: 100%; height: 368px; margin-top: 40px;}



#contact {margin: 80px auto;}
#contact > form > div {display: flex; flex-direction: row; flex-wrap: warp; padding-bottom: 30px;}
.contact-heading {width: 240px; align-self:center;}
.contact-label {font-weight: bold;}
.contact-span {color: #ce2222; margin-left: 20px; font-weight: bold;}
.contact-textbox {border-top: 0; border-left: 0; border-right: 0;
                  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #707070;
                  width: 400px; height: 56px; background-color: #fafafa;}
.contact-textarea {border-top: 0; border-left: 0; border-right: 0;
                  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #707070;
                  width: 400px; height: 200px; background-color: #fafafa;}
#contact dt {font-weight: bold;}
#contact dd {margin: 0 0 16px 0;}
#contact dd p {margin: 0;}
#contact dd ul {padding-left: 0;}
#contact dd li {list-style: none; margin-bottom: 0;}
footer {background-color: #0d0d0d; text-align: center; padding: 80px 80px 30px 80px;}
#footer-logo {margin-bottom: 30px;}
#footer-link {margin-bottom: 50px;}
#footer-link > a {text-decoration: none; margin: 10px; color: #ffffff;}
#footer-link > a:hover {text-decoration: underline;}
#sns-footer {display: flex; justify-content: space-between;}
#sns-footer a {margin-right: 30px;}
#copyright {color: #ffffff; margin: 0;}



#menu-sp {display: none;}
#nav-sp {display: none;}



/*mission-pageセクション*/
.mission-main-inner {background-image: url(images/mission/mission-main.png);
                     background-repeat: no-repeat; background-position-y: center;}
#mission-title {width: 368px; background-color: #2710d5; color: #ffffff;
                height: 496px; border-radius: 0 248px 248px 0; position: relative;}
#mission-title h1 {position: absolute; top: 0; left: 100px; font-size: 80px; line-height: 1;}
#mission-title h1 span {font-size: 26px;}
#mission-title > p {position: absolute; top: 350px; left: 100px; font-size: 16px;}
#mission-s2dgs {padding: 20px;}
.mission-h2 {font-size: 40px; color: #2710d5;}
.mission-h2::after {content: none;}



#mission-five-goals {padding: 20px; display: flex;}
#mission-five-goals .five-goals-image {width: 30%; padding: 20px;}
#mission-five-goals .five-goals-read {width: 70%; padding: 20px;}
#mission-five-goals .five-goals-read > div {margin-bottom: 40px;}
#mission-five-goals .five-goals-image img {width: 100%;}
.fivegoals-number {color:#2710d5; font-size: 48px; font-weight: bold; margin: 0;}
.fivegoals-h3 {font-size: 28px; margin: 0;}
.fivegoals-p {margin: 0;}
.fivegoals-image-left {float: left; margin: 20px;}
.fivegoals-image-right {float: right; margin: 20px;}



/*product-pageセクション*/



.product-main-inner {background-image: url(images/product/product-main.png);
                     background-repeat: no-repeat; background-position-y: center;}
#product-title {width: 368px; background-color: #2710d5; color: #ffffff;
                height: 496px; border-radius: 0 248px 248px 0; position: relative;}
#product-title h1 {position: absolute; top: 0; left: 100px; font-size: 80px; line-height: 1;}
#product-title h1 span {font-size: 26px;}
#product-title > p {position: absolute; top: 350px; left: 100px; font-size: 16px;}



.product-section {display: flex; padding: 20px 20px 0;}
.product-section .product-section-img {width: 450px;}
.product-section-left .product-section-img img {width: 100%; padding: 0 40px 30px 0; border-radius: 0 432px 0 0;}
.product-section-left .product-read {width: 50%; flex-grow: 1;}
.product-section-left .product-read p {margin-bottom: 0;}
.product-section-left .product-read p {justify-content: space-between;}
.product-section-right .product-section-img img {width: 100%; padding: 0 0 30px 40px; border-radius: 432px 0 0 0;}
.product-section-right .product-read {width: 500px;}
.product-h2 {color: #2710d5; font-size: 24px; margin: 0;}
.product-h3 {font-size: 28px; margin: 0;}



/*レスポンシブデザイン*/

@media screen and (max-width:767px){
      #nav-pc {display: none;}
      #menu-sp {display: block; background-color: transparent; float: right; padding: 0; border: none;}
      #nav-sp {background-color: #2710d5; position: fixed; width: 100%; height: 100%; display: none; z-index: 100;}
      #close {position: absolute; top: 20px; right: 20px; background-color: transparent; border: none;}
      #nav-sp nav ul {padding: 0;}
      #nav-sp nav li {list-style: none;}
      #logo-sp {margin: 80px 0 3px 20px;}
      #nav-sp nav a {display: block; color: #ffffff;}
      #nav-sp nav a:hover {text-decoration: underline;}
      #nav-sp .menu {text-decoration: none; margin: 0 20px; height: 44px; font-size: 16px;
                     background-image: url(images/arrow.png); background-repeat: no-repeat; background-position: right top;}
      #sns {position: absolute; bottom: 20px; left: 20px;}
      #sns > a {margin-right: 30px;}



      #main-visual {position: relative; height: 470px;}
      #main-visual > div {text-align: center; height: 280px;}
      #main-visual h1 {font-size: 28px; margin-top: 90px;}
      #main-visual > div > p {margin: 0; font-size: 15px;}
      #main-visual > img {width: 100%; border-radius: 476px 0 0 0; top: auto; bottom: 0;}



      h2 {margin: 15px 0;}
      h3 {font-size: 24px; margin-top: 10px;}
      #mission {margin: 20px 0; padding: 0 20px;}
      #mission-flex {flex-direction: column;}
      #mission-flex > div {width: 100%; margin: 0;}



      #product {padding: 10px 20px 0 20px; margin: 0;}
      #product .product-flex {flex-direction: column; margin-top: 0;}
      #product-left, #product-right {width: 100%; margin: 0;}
      #product-left > div, #product-right > div {height: auto; margin: 0;}
      .product-explain {position: relative; margin: 0;}
      .product-explain > h3 {font-size: 24px; margin: 10px 0;}
      #product-more {text-align: left;}



      #aboutus {margin: 80px 20px;}
      #aboutus > div {flex-direction: column;}
      .culture-img {width: 100%; order: 1;}
      .culture-table {order: 2; margin: 0; padding-right: 20px;}
      .culture-table th {font-size: 16px;}
      .culture-img2 {margin-top: 0;}
      .culture-num {padding: 0;}
      .culture-description {margin: 0;}



      #vision {margin: 80px 20px;}
      .vision-box > img {position: absolute; top: 0; left: 0;}
      .vision-box > div > h4 {margin-top: 60px 0 0 0;}



      #company {margin-left: 20px; margin-right: 20px;}
      #company > h3 {margin-bottom: 20px;}
      #company > h3 {margin-bottom: 20px;}
      .tableheader {width: 50%;}
      .cell {padding: 20px;}
      #company > iframe {height: 240px;}



      #contact {margin: 80px 20px;}
      #contact > h3 {margin-bottom: 20px;}
      #contact > form > div {flex-direction: column; margin-bottom: 20px;}
      .contact-heading {align-self: auto; margin-bottom: 20px;}
      .contact-textbox {width: 100%; min-width: 300px;}
      .contact-textarea {height: 150px; width: 100%;}
      .radiobutton {margin-bottom: 20px;}



      footer {padding: 30px 20px 50px 20px; text-align: left;}
      #footer-link > a {margin: 0 20px 30px 0; display: block; background-image: url("images/arrow.png");
                        background-repeat: no-repeat; background-position: right top;}
      #footer-link > a:hover {text-decoration: underline;}
      #sns-footer {flex-direction: column; justify-content: flex-start;}
      #copyright {font-size: 12px; margin-top: 30px;}




      #mission-main {position: relative; margin-top: 4%; height: 256px;}
      .mission-main-inner {height: 80%; background-size: cover;}
      #mission-title {width: 136px; height: 256px; position: absolute; top: -10px;}
      #mission-title h1 {top: 40px; left: 20px; font-size: 24px;}
      #mission-title h1 span {font-size: 18px;}
      #mission-title > p {top: 180px; left: 20px; font-size: 13px;}



      .mission-h2 {font-size: 38px; margin: 0;}
      #mission-s2dgs img {width: 100%;}
      .mission-h2::after {content: none;}



      #mission-five-goals {flex-direction: column;}
      #mission-five-goals > div {padding: 0;}
      #mission-five-goals .five-goals-image, #mission-five-goals .five-goals-read
      {width: 100%; padding: 0;}
      #mission-five-goals .five-goals-read > div {display: flex; flex-direction: column;}
      .fivegoals-image-right, .fivegoals-image-left {align-self: center;}



      #product-main {height: 256px; position: relative; margin-top: 4%;}
      .product-main-inner {height: 80%; background-size: cover;}
      #product-title {width: 136px; height: 256px; position: absolute; top: -10px;}
      #product-title h1 {left: 20px; font-size: 40px;}
      #product-title h1 span {font-size: 18px;}
      #product-title > p {top: 180px; left: 20px; font-size: 13px;}



      .product-section {flex-direction: column;}
      .product-section .product-section-img {width: 100%;}
      .product-section .product-section-img img {width: 100%; padding: 0;} 
      .product-section-left .product-section-img img {border-radius: 0 300px 0 0;}
      .product-section-left .product-read {width: 100%; flex-grow: 1;}
      .product-section-right .product-section-img img {border-radius: 300px 0 0 0; order: 1;}
      .product-section-right .product-read {width: 100%; order: 2;}
}